@tailwind base;
@layer base {
  html {
    &[data-theme="light"] {
      color-scheme: light;
    }

    &[data-theme="dark"] {
      color-scheme: dark;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      @apply scroll-smooth;
    }
  }

  ::-webkit-scrollbar {
    @apply h-3 w-3 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-2 border-solid border-transparent bg-neutral-500/40 bg-clip-content hover:bg-neutral-500/60 active:bg-neutral-500/80;
  }
}

@tailwind components;
@layer components {
}

@tailwind utilities;
@layer utilities {
}

.overlay {
  overflow: overlay;
}
